model_name_out: cp3_v001

paths:
  turbo_root: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model
  data_images_train: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model/dataset/train/images
  data_labels_train: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model/dataset/train/labels
  data_images_valid: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model/dataset/valid/images
  data_labels_valid: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model/dataset/valid/labels
  results_root: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model/results
  logs_root: /nfs/turbo/umms-parent/cellpose_wholeorganoid_model/logs

labels:
  mask_filter: _cp_masks.png

train:
  use_pretrained: true          # cyto3 fine-tune by default
  model_type: cyto3             # or null for scratch
  rescale: false                # specialist policy
  diameter: 1350                # enforced default (px)
  bsize: 512
  n_epochs: 100
  batch_size: 1
  learning_rate: null # ← omit -> use Cellpose default 
  weight_decay: null # ← omit -> use Cellpose default
  channels: [0, 0]
  normalize: false
  min_train_masks: 1 #must have at least one mask per organoid image
  save_each: true
  nimg_per_epoch: null        # keep null → Cellpose default
  extra_kwargs: {}              # passthrough to cellpose.train.train_seg

eval:
  niter: 2000
  resample: false
  bsize: 512
  flow_threshold: 0.4
  cellprob_threshold: 0.0
  diameter: null                # keep null → native grid
  channels: [0, 0]
  normalize: false
  save_panels: true
  save_rois: true
  save_flows: true
  save_prob: true
  save_prob_view: true          # NEW: sigmoid view for human QA
  eval_split: valid
  extra_kwargs: {}

system:
  seed: 1337
  use_cuda: true
